<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>From the kitchen of <%= taco.owner.name %>...</p>
    <h1><%= taco.name %> 🌮</h1>
    <h2>This taco is <%= taco.tasty ? 'tasty! 😋' : 'not tasty! 😫' %></h2>
	<% if (user) { %>
        <form action="/tacos/<%= taco._id %>/flip-tasty?_method=PUT" method="POST">
            <button type="submit">
                Make taco <%= taco.tasty ? 'not tasty 🥺' : 'tasty 🎉' %>
            </button>
        </form>
    <% } %>
    <% if (taco.owner.equals(user?.profile._id)) { %>
		<p>
            <a class="link" href="/tacos/<%= taco._id %>/edit">Edit this Taco!</a>
        </p>
    <% } %>
</section>

<%- include('../partials/footer') %>